@charset "utf-8";
/* CSS Document */

body{
	text-align:center;
	margin:0px;
	font-family:Calibri;
	font-size:14px;
	background-color:#fff; 
	padding:0px; 
	margin:0px;
}

/*Principio: Estilos del login*/
#accesoSuperior{
	width:1024px;  
	margin-left:auto; 
	margin-right:auto;
	margin-top:15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
}

#accesoSuperior img{
	float:left; 
	margin-left:10px;
}

#accesoSuperior h2{
	float:left; 
	margin-left:20px; 
	margin-top:9px; 
	text-align:left; 
	font-family:'Myriad Pro';
}

#accesoSuperior h1{
	float:right; 
	margin-right:10px;
	margin-top:130px;
	text-align:right; 
	font-family:Candara;
	color:#E80;
}

#accesoSuperior h1 span{
	color:#7E6638;
}

#accesoInferior{
	width:100%;
	height:270px;
	background:#000;
	float:left;  
}

#accesoInferior div{
	width:1024px;
	margin-left:auto; 
	margin-right:auto;
}

#accesoInferior div img{
	float:left; 
	margin-top:0px;
}

#accesoInferior div table{
	color:#FFF;
	text-align:right;
	margin-left:100px;
	margin-top:30px;
	float:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

/*Fin: Estilos del login*/


/*Principio: Estilos del header*/

#oculta{
	width:0px; 
	height:0px; 
	position:absolute;	
	background:#000;
	text-align:center;
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
    -khtml-opacity: 0.8;
	z-index:100;
}

#detalle{
	width:0px; 
	height:0px; 
	position:absolute;
	background:transparent;
	border:0px;
	z-index:101;	
	left:50%;
	top:50%;
	padding:0;
}

#header{
	width:100%; 
	height:220px; 
	margin:0px; 
	background:#000 url(../imagenes/fondo_superior.png) repeat-x; 
	text-align:center;
}

#header #contenido{
	width:1000px; 
	height:220px; 
	margin-left:auto; 
	margin-right:auto;
}

#header #contenido img{
	float:left; 
	width:170px; 
	height:190px;
}

#header #contenido #sesion{
	width:500px; 
	height:40px; 
	float:right;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:bold; 
	color:#FFF;
}

#header #contenido #menu{
	width:960px; 
	height:30px; 
	float:left; 
	text-align:left;
	font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size:14px; 
	font-weight:bold;
}

#header #contenido #menu .menuActivoIzquierdo{
	background:url(../imagenes/menu_left.png) no-repeat;
}

#header #contenido #menu .menuActivoCentro{
	color:#000; 
	background:url(../imagenes/menu_center.png) repeat-x; 
	padding-left:10px; 
	padding-right:10px;
}

#header #contenido #menu .menuActivoDerecho{
	background:url(../imagenes/menu_right.png) no-repeat;
}

#header #contenido #menu .menuInactivo{
	color:#FFF; 
	padding-left:20px; 
	padding-right:18px;
}

#header #contenido #menu .separadorMenu{
	border-right:#FFF dotted 2px;
}

#sombra{
	width:100%; 
	height:20px; 
	background:url(../imagenes/sombra_superior.png) repeat-x;
}

/*Fin: Estilos del header*/


/*Principio: Estilos del cuerpo */

#contenidoCuerpo{
	width:1000px; 
	margin-left:auto; 
	margin-right:auto; 
	font-family:Candara,'Trebuchet MS', Arial, Helvetica, sans-serif; 
	font-size:16px;
}

#contenidoCuerpo .panelAvisos{
	width:310px; 
	border-right:#CCC solid 1px; 
	padding-right:10px;
}

#contenidoCuerpo .categoria{
	font-weight:bold;
}

#contenidoCuerpo .aviso{
	color:#666;
	margin-left:15px;
}

#contenidoCuerpo .productoAviso{
	color:#F60;
	margin-left:15px;
}

#contenidoCuerpo .fechaAviso{
	color:#36C;
	margin-left:15px;
}

/*Fin: Estilos del cuerpo*/


/*Principio: Estilos de listado*/

#contenidoCuerpo #listado{
	float:right; 
	width:712px; 
	height:100%; 
	text-align:left; 
	padding-left:20px;
}

#contenidoCuerpo #listado .titulo{
	font-family:Candara,'Trebuchet MS', Arial, Helvetica, sans-serif; 
	color:#C60; 
	font-size:36px;
}

#contenidoCuerpo #listado .encabezado{
	font-family:Candara,'Trebuchet MS', Arial, Helvetica, sans-serif; 
	color:#C60; 
	font-size:16px;
	font-weight:bold;
}

#contenidoCuerpo #listado .celdaEncabezado{
	border-top:#613A1F solid 1px;
	border-bottom:#613A1F solid 1px;
}

#contenidoCuerpo #listado .filaListadoImpar{
	background:#DEDAB0;
}

#contenidoCuerpo #listado .filaListadoPar{
	background:#FFF;
}

/*Fin: Estilos de listado*/


/*Principio: Estilos de detalle*/

#contenidoDetalle{
	width:779px; 
	height:479px;
	border:0px; 
	padding:10px 0 0 10px; 
	text-align:left;
	background:transparent;
}

.categoriaDetalleCentro{
	background:url(../imagenes/naranja_centro.png); 
	color:#FFF; 
	font-size:18px; 
	font-family:Candara;
	line-height:35px;
	float:left;
}

.categoriaDetalleIzquierda{
	background:url(../imagenes/naranja_izquierdo.png); 
	height:35px;
	width:20px;
	float:left;
}

.categoriaDetalleDerecha{
	background:url(../imagenes/naranja_derecho.png); 
	height:35px;
	width:20px;
	float:left;
}

#tabbed_box {  
    margin: 0px auto 0px auto;  
    width:300px;  
} 

.tabbed_area {  
	border:1px solid #494e52;  
	background-color:#636d76;  
	padding:8px;  
}  

ul.tabs {  
    margin:0px; padding:0px;  
    margin-top:5px;  
    margin-bottom:6px;  
}
  
ul.tabs li {  
    list-style:none;  
    display:inline;  
}

ul.tabs li a {  
    background-color:#464c54;  
    color:#ffebb5;  
    padding:8px 14px 8px 14px;  
    text-decoration:none;  
    font-size:9px;  
    font-family:Verdana, Arial, Helvetica, sans-serif;  
    font-weight:bold;  
    text-transform:uppercase;  
    border:1px solid #464c54;  
	background-image:url(../imagenes/tab_off.jpg);  
    background-repeat:repeat-x;  
    background-position:bottombottom;
}
  
ul.tabs li a:hover {  
    background-color:#2f343a;  
    border-color:#2f343a;  
}  

ul.tabs li a.active {  
    background-color:#ffffff;  
    color:#282e32;  
    border:1px solid #464c54;  
    border-bottom: 1px solid #ffffff;  
	background-image:url(../imagenes/tab_on.jpg);  
    background-repeat:repeat-x;  
    background-position:top;
}

.content {  
    background-color:#ffffff;  
    padding:10px;  
    border:1px solid #464c54;  
	background-image:url(../imagenes/content_bottom.jpg);  
    background-repeat:repeat-x;  
    background-position:bottom;
	margin-top:8px;
}  

#content_2, #content_3 { display:none; }

.tablaDetalle {
	width:100%;
}

.filaParDetalle{
	background-color:#DAE1E4;
	height:25px;
}

.filaImparDetalle{
	background-color:#FFF;
	height:25px;
}

.etiquetaDetalle{
	font-weight:bold;
	text-align:right;
	width:150px;
	padding-right:20px;
}

.datoDetalle{
	padding-left:20px;
	border-left:#666 solid 1px;
}

/*Fin: Estilos de detalle*/


/*Principio: Estilos del panel lateral*/

#panelIzquierdo{
	float:left; 
	width:260px; 
	height:100%; 
	text-align:left; 
	padding-top:6px; 
	padding-left:7px; 
	padding-bottom:6px;
}

#panelIzquierdoInterior{
	float:left; 
	width:250px; 
	height:100%; 
	text-align:left; 
	border-bottom:#666 1px solid;
}

/*Fin: Estilos del panel lateral


/*Principio: Estilos de formularios*/

.etiquetaCampo{
	float:left; 
	line-height:35px; 
	font-family:Candara; 
	font-size:16px; 
	font-weight:bold; 
	text-align:right; 
	width:150px;
}

.campoDatos{
	height:35px; 
	border:#999 solid 1px;	
}

.botonFormulario{
	width:128px; 
	height:35px; 
	border:0px; 
	font-family:'Trebuchet MS'; 
	font-size:16px;
}

#cancelar{
	color:#FFF; 
	margin-left:150px;
}

#limpiar{
	margin-left:105px;
}

.panelSubCategoria{
	width:550px; 
	float:left; 
}

.subCategoria{
	color:#074;
	font-weight:bold;
}

.etiquetaSubtotalCat{
	color:#FFF;
	background:#360;
	font-weight:bold;
	margin-left:280px;
}

.valorSubtotalCat{
	color:#360;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}

.divisionSubCategoria{
	height:1px; 
	width:520px; 
	color:#CCC; 
	margin-left:0px; 
	margin-right:auto;
}

.tituloProducto{
	color:#900;
}

.etiquetaDinero{
	color:#36C;
	font-weight:bold;
}

.valorDinero{
	color:#09F;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.etiquetaSubtotal{
	color:#360;
	font-weight:bold;	
}

.valorSubtotal{
	color:#693;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

/*Fin: Estilos de formularios*/



